@model IEnumerable<EmployeeManagementSystem.Models.LeaveApplication>

@{
    ViewBag.Title = "Index";
}

<p>
    <i class="material-icons">add</i>
    @Html.ActionLink("Apply For Leave", "Create")

</p>

<div class="card">
<div class="card-header">
    <h3 class="text-center">Leave Applicants</h3>
</div>
<!-- /.card-header -->
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.Duration.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmpNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
            <th>
                Edit
            </th>
            <th>
                View
            </th>
            <th>
                Delete
            </th>
        <th></th>
       </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Description)
                 </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
    </tr>
        }

    </table>
    </div>
</div>